@*//-----------------------------------------------------------------------
// Copyright 2016 Sitecore Corporation A/S
// Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
//       http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software distributed under the
// License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
// either express or implied. See the License for the specific language governing permissions
// and limitations under the License.
// -------------------------------------------------------------------------------------------*@

@{
    var deliveryPage = Html.Sitecore().CurrentItem.Children["Delivery"];
    
    var pickUpAtStoreHeader = Html.Sitecore().Field("Pick Up At Store Header", deliveryPage);
    var findStoreLabel = @Html.Sitecore().Field("Find Store Label", deliveryPage);
    var closeStoresLabel = Html.Sitecore().Field("Close Stores Label", deliveryPage);    
}

<div class="col-md-12">
    <h1>@pickUpAtStoreHeader</h1>
</div>
<div class="col-md-8">
    <h4>@findStoreLabel</h4>
</div>
<div class="col-md-4">
    <h4>@closeStoresLabel</h4>
</div>
<div class="col-md-8">
    <div class="input-group find-store">
        <input type="text" data-bind="attr:{id:'StoreAddressSearch-'+ externalCartLineId}" class="form-control lineStoreAddressSearch" placeholder="@deliveryPage["Search Input Placeholder"]">
        <span data-bind="attr:{id:'SearchStores-'+ externalCartLineId}" class="input-group-addon lineSearchStores"><i class="fa fa-search"></i></span>
    </div>
    <div class="form-group">
        <div data-bind="attr:{id:'StoresMap-'+ externalCartLineId}" class="Flexible-container map-canvas"></div>
    </div>
</div>
<div data-bind="foreach: stores, attr: {id: 'StoreSearchResultsContainer-'+ externalCartLineId}" class="col-md-4" style="display: none;">
    <div class="map-stores toRemove availableStore" data-bind="css: externalId() === $parent.store().externalId() ? 'store-Selected' : '', click: $parent.changeSelectedStore, attr: { id: externalId }">
        <strong class="badge pull-right" style="margin-left: 8px;" data-bind="text: locationCount"></strong>
        <span pid="distance" class="store-distance" data-bind="text: distance"></span>
        <div class="span3">
            <h2 class="muted" data-bind="text: name, attr: {'pid': 'storeName-' + $parent.externalCartLineId}"></h2>
            <p class="muted" pid="storeAddress1" data-bind="text: address().address1, attr: {'pid': 'storeAddress1-' + $parent.externalCartLineId}"></p>
            <span class="muted" data-bind="text: address().city, attr: {'pid': 'storeCity-' + $parent.externalCartLineId}"></span>,
            <span class="muted" data-bind="text: address().state, attr: {'pid': 'storeState-' + $parent.externalCartLineId}"></span>,
            <span class="muted" data-bind="text: address().zipPostalCode, attr: {'pid': 'storeZipCode-' + $parent.externalCartLineId}"></span>
            <span class="hide" data-bind="text: address().country, attr: {'pid': 'storeCountry-' + $parent.externalCartLineId}"></span>
            <span class="hide" data-bind="text: externalId, attr: {'pid': 'storeId-' + $parent.externalCartLineId}"></span>
        </div>
        <div class="clearfix"></div>
    </div>
</div>