@*//-----------------------------------------------------------------------
// Copyright 2016 Sitecore Corporation A/S
// Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
//       http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software distributed under the
// License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
// either express or implied. See the License for the specific language governing permissions
// and limitations under the License.
// -------------------------------------------------------------------------------------------*@

@{
    var currencyDecimalSeparator = Sitecore.Context.Language.CultureInfo.NumberFormat.CurrencyDecimalSeparator;
    var currencyGroupSeparator = Sitecore.Context.Language.CultureInfo.NumberFormat.CurrencyGroupSeparator;

    var confirmPage = Html.Sitecore().CurrentItem.Children["Confirm"];
    var billingPage = Html.Sitecore().CurrentItem.Children["Billing"];
    
    // Table Headers
    var productDetailsLabel = Html.Sitecore().Field("Product Details Label", confirmPage);
    var unitPriceLabel = Html.Sitecore().Field("Unit Price Label", confirmPage);
    var quantityLabel = Html.Sitecore().Field("Quantity Label", confirmPage);
    var totalLabel = Html.Sitecore().Field("Total Label", confirmPage);

    //Discounts and loyality credits
    var discountsLabel = Html.Sitecore().Field("Credits Header Label", confirmPage);
    var applyLoyaltyLabel = Html.Sitecore().Field("Apply Loyalty Credit Label", confirmPage);
    var subtitleLoyaltyLabel = Html.Sitecore().Field("Subtitle Loyalty Credit Label", confirmPage);
    var getBalanceButtonLabel = Html.Sitecore().Field("Get Balance Button Label", billingPage);
    var cardNumberLabel = Html.Sitecore().Field("Card Number Label", billingPage);
    var cardNumberLabelPlaceholder = billingPage["Card Number Label"];
    var removeLabel = Html.Sitecore().Field("Remove Label", billingPage);
    var addLoyaltyCardButtonLabel = Html.Sitecore().Field("Add Loyalty Card Button", billingPage);

    // Payment Information Labels
    var paymentTotalLabel = Html.Sitecore().Field("Payment Total Label", billingPage);
    var taxesLabel = Html.Sitecore().Field("Taxes Label", billingPage);
    var savingsLabel = Html.Sitecore().Field("Savings Label", billingPage);
    var orderTotalLabel = Html.Sitecore().Field("Total Label", billingPage);
    var giftCardLabel = Html.Sitecore().Field("Gift Card Label", billingPage);
    var loyaltytCardLabel = Html.Sitecore().Field("Loyalty Card Label", billingPage);

    //Footer Summart
    var ShippingAddress = Html.Sitecore().Field("Shipping Address Label", confirmPage);
    var EditShippingAddress = Html.Sitecore().Field("Edit Shipping Address Label", confirmPage);
    var BillingAddress = Html.Sitecore().Field("Billing Address Label", confirmPage);
    var EditBillingAddress = Html.Sitecore().Field("Edit Billing Address Label", confirmPage);
    var ShippingMethod = Html.Sitecore().Field("Shipping Method Label", confirmPage);
    var EditShippingMethod = Html.Sitecore().Field("Edit Shipping Method Label", confirmPage);
    var DiscountCode = Html.Sitecore().Field("Discount Code Label", confirmPage);
    var EditDiscountCode = Html.Sitecore().Field("Edit Discount Code Label", confirmPage);
    var GiftCards = Html.Sitecore().Field("Gift Cards Label", confirmPage);
    var EditGiftCards = Html.Sitecore().Field("Edit Gift Cards Label", confirmPage);
    var PaymentMethods = Html.Sitecore().Field("Payment Methods Label", confirmPage);
    var EditPaymentMethods = Html.Sitecore().Field("Edit Payment Methods Label", confirmPage);
    var creditCardLabel = Html.Sitecore().Field("Credit Card Label", confirmPage);
    var footerLoyaltyCardLabel = Html.Sitecore().Field("Loyalty Card Label", confirmPage);

    var orderInformationLabel = Html.Sitecore().Field("Order Information Label", billingPage);
    var subtotalLabel = Html.Sitecore().Field("Subtotal Label", billingPage);
    var shippingCostLabel = Html.Sitecore().Field("Shipping Cost Label", billingPage);
    
    // Labels
    var discountLabel = Html.Sitecore().Field("Discount Label", confirmPage);
    var colorLabel = Html.Sitecore().Field("Color Label", confirmPage);
    var deliveryLabel = Html.Sitecore().Field("Delivery Label", confirmPage);

    var storefront = Sitecore.Reference.Storefront.Managers.StorefrontManager.CurrentStorefront;
    bool supportsLoyaltyProgram = storefront.SupportsLoyaltyPrograms;
}

<div class="wrap-content-checkout">
    <div class="col-md-12" id="confirmProductsContainer">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr class="cart-header">
                        <td class="hidden-sm hidden-xs">&nbsp;</td>
                        <td>@productDetailsLabel</td>
                        <td>@unitPriceLabel</td>
                        <td>@quantityLabel</td>
                        <td class="text-right">@totalLabel</td>
                    </tr>
                </thead>
                <tbody data-bind="foreach: cart().cartLines">
                    <tr>
                        <td class="cart-image hidden-sm hidden-xs"><img data-bind="attr:{src:image}" class="img-responsive" alt="a" pid="image" /></td>
                        <td class="cart-info">
                            <a pid="link" data-bind="attr: {href: productUrl}"><h5 data-bind="text:displayName" pid="displayName"></h5></a>
                            <p class="cart-variable" data-bind="if: color != null">
                                @colorLabel <span data-bind="text:color" pid="color"></span>
                            </p>
                            <p class="cart-delivery">
                                @deliveryLabel
                                <!-- ko if: $root.isShipAll -->
                                <span data-bind="text: $root.shippingMethod().description" pid="lineSippingMethodName"></span>
                                <!-- /ko -->
                                <!-- ko if: $root.isShipToStore -->
                                <span data-bind="text: $root.shipToStoreDeliveryMethod().Description" pid="lineSippingMethodName"></span>
                                <!-- /ko -->
                                <!-- ko if: $root.isShipToEmail -->
                                <span data-bind="text: $root.emailDeliveryMethod().Description" pid="lineSippingMethodName"></span>
                                <!-- /ko -->
                                <!-- ko if: isLineShipAll -->
                                <span data-bind="text: shippingMethod().description" pid="lineSippingMethodName"></span>
                                <!-- /ko -->
                                <!-- ko if: isLineShipToEmail -->
                                <span data-bind="text: $root.emailDeliveryMethod().Description" pid="lineSippingMethodName"></span>
                                <!-- /ko -->
                                <!-- ko if: isLineShipToStore -->
                                <span data-bind="text: $root.shipToStoreDeliveryMethod().Description" pid="lineSippingMethodName"></span>
                                <!-- /ko -->
                            </p>
                            <div data-bind="if: isLineShipToStore" class="cart-delivery">
                                <ul data-bind="with: store" pid="lineShippingAddress">
                                    <li pid="lineShippingAddressName" data-bind="text: name, attr: {id: 'confirm-shippingAddressName-' + $parent.externalCartLineId}"></li>
                                    <li pid="lineShippingAddressLine" data-bind="text: address().address1, attr: {id: 'confirm-shippingAddressLine-' + $parent.externalCartLineId}"></li>
                                    <li>
                                        <span pid="lineShippingAddressCity" data-bind="text: address().city, attr: {id: 'confirm-shippingAddressCity-' + $parent.externalCartLineId}"></span>,
                                        <span pid="lineShippingAddressState" data-bind="text: address().state, attr: {id: 'confirm-shippingAddressState-' + $parent.externalCartLineId}"></span>,
                                        <span pid="lineShippingAddressCountry" data-bind="text: address().country, attr: {id: 'confirm-shippingAddressCountry-' + $parent.externalCartLineId}"></span>
                                    </li>
                                    <li pid="lineShippingAddressZipCode" data-bind="text: address().zipPostalCode, attr: {id: 'confirm-shippingAddressZipCode-' + $parent.externalCartLineId}"></li>
                                </ul>
                            </div>
                            <div data-bind="if: isLineShipAll" class="cart-delivery">
                                <ul data-bind="with: shippingAddress" pid="lineShippingAddress">
                                    <li pid="lineShippingAddressName" data-bind="text: name, attr: {id: 'confirm-shippingAddressName-' + $parent.externalCartLineId}"></li>
                                    <li pid="lineShippingAddressLine" data-bind="text: address1, attr: {id: 'confirm-shippingAddressLine-' + $parent.externalCartLineId}"></li>
                                    <li>
                                        <span pid="lineShippingAddressCity" data-bind="text: city, attr: {id: 'confirm-shippingAddressCity-' + $parent.externalCartLineId}"></span>,
                                        <span pid="lineShippingAddressState" data-bind="text: state, attr: {id: 'confirm-shippingAddressState-' + $parent.externalCartLineId}"></span>,
                                        <span pid="lineShippingAddressCountry" data-bind="text: country, attr: {id: 'confirm-shippingAddressCountry-' + $parent.externalCartLineId}"></span>
                                    </li>
                                    <li pid="lineShippingAddressZipCode" data-bind="text: zipPostalCode, attr: {id: 'confirm-shippingAddressZipCode-' + $parent.externalCartLineId}"></li>
                                </ul>
                            </div>
                            <!-- ko if: $root.isShipToEmail -->
                            <div class="cart-delivery">
                                <span pid="lineEmail" data-bind="text: $root.shippingEmail, attr: {id: 'confirm-emailAddress-' + $parent.externalCartLineId}"></span>
                            </div>
                            <!-- /ko -->
                            <!-- ko if: isLineShipToEmail -->
                            <div class="cart-delivery">
                                <span pid="lineEmail" data-bind="text: shippingEmail, attr: {id: 'confirm-emailAddress-' + $parent.externalCartLineId}"></span>
                            </div>
                            <!-- /ko -->
                        </td>
                        <td class="cart-price">
                            <p data-bind="text:linePrice" pid="price"></p>
                            <span data-bind="visible: shouldShowDiscountOffers">
                                <span>@discountLabel </span>
                                <span pid="discountNames" data-bind="text: discountOfferNames" class="savings"></span>
                            </span>
                        </td>
                        <td pid="quantity" class="cart-quantity text-center" style="width: 10%;" data-bind="text:quantity"></td>
                        <td class="cart-total">
                            <p pid="total" data-bind="text: lineTotal"></p>
                            <span class="savings" data-bind="visible: shouldShowSavings">
                                <span>@discountLabel </span>
                                <span pid="discount" data-bind="text: lineItemDiscount"></span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    @if (supportsLoyaltyProgram)
    {
        <div id="confirmLoyaltyRewardsContainer">
            <div class="col-md-12"><h3>@discountsLabel</h3></div>
            <div class="col-md-12">
                <div class="accordion-container">
                    <a href="#" class="accordion-toggle"><span class="toggle-icon"><span class='glyphicon glyphicon-plus-sign'></span></span>@applyLoyaltyLabel</a>
                    <div class="accordion-content">
                        <div class="col-md-12"><h4>@subtitleLoyaltyLabel</h4></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="LoyalityCardNumber_Confirm">@cardNumberLabel</label>
                                <input type="text" class="form-control" id="LoyalityCardNumber_Confirm" placeholder="@cardNumberLabelPlaceholder" data-bind="value: cartLoyaltyCardNumber">
                            </div>
                            <div class="form-group">
                                <button type="button" id="addLoyaltyCard_Confirm" class="btn btn-success" data-loading-text="Updating Loyalty Card...">@addLoyaltyCardButtonLabel</button>
                                <h1 id="loyaltyCard-success" class="glyphicon glyphicon-ok-circle" style="color:green; top: 6px;left: 9px; display:none"></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="col-md-12"><h3>@orderTotalLabel</h3></div>
    <div class="col-md-12">
        <div class="col-md-12 summary" id="confirmTotalSummaryContainer">
            <div class="col-md-12">
                <h3>@orderInformationLabel</h3>
            </div>
            <div class="col-md-12 summary">
                <span class="text">@subtotalLabel:</span>
                <span id="confirm-subTotal" class="amount" data-bind="text: cart().subTotal" pid="subtotal"></span>
            </div>
            <div class="col-md-12 summary">
                <span class="text">@shippingCostLabel: <span id="billingShippingCostLabel"></span></span>
                <span id="confirm-shippingTotal" class="amount" data-bind="text: cart().shippingTotal" pid="shippingTotal"></span>
            </div>
            <div class="col-md-12 summary">
                <span class="text">@taxesLabel :</span>
                <span idd="confirm-taxTotal" class="amount" data-bind="text: cart().taxTotal" pid="taxTotal"></span>
            </div>
            <div class="col-md-12 summary">
                <span class="text">@savingsLabel :</span>
                <span id="confirm-discountTotal" class="amount" data-bind="text: cart().discount" pid="discountTotal"></span>
            </div>
            <div class="col-md-12 summary">
                <span class="text">@totalLabel :</span>
                <span id="confirm-total" class="amount" data-bind="text: cart().total" pid="total"></span>
            </div>
        </div>
        <div class="col-md-12 checkout-footer">
            <!-- ko if: isShipToStore -->
            <div class="col-md-2 col-sm-6 col-xs-6" id="confirm-shippingAddressContainer">
                <div class="footer-shipping" data-bind="with: store">
                    <h4>@ShippingAddress</h4>
                    <ul class="footer-lists">
                        <li id="confirm-shippingAddressName" data-bind="text: name"></li>
                        <li id="confirm-shippingAddressLine" data-bind="text: address().address1"></li>
                        <li>
                            <span id="confirm-shippingAddressCity" data-bind="text: address().city"></span>,
                            <span id="confirm-shippingAddressState" data-bind="text: address().state"></span>,
                            <span id="confirm-shippingAddressCountry" data-bind="text: address().country"></span>
                        </li>
                        <li id="confirm-shippingAddressZipCode" data-bind="text: address().zipPostalCode"></li>
                    </ul>
                </div>
                <div class="checkout-footer">
                    <a href="#" class="toShipping">@EditShippingAddress</a>
                </div>
            </div>
            <!-- /ko -->
            <!-- ko if: isShipAll -->
            <div class="col-md-2 col-sm-6 col-xs-6" id="confirm-shippingAddressContainer">
                <div class="footer-shipping" data-bind="with: shippingAddress">
                    <h4>@ShippingAddress</h4>
                    <ul class="footer-lists">
                        <li id="confirm-shippingAddressName" data-bind="text: name"></li>
                        <li id="confirm-shippingAddressLine" data-bind="text: address1"></li>
                        <li>
                            <span id="confirm-shippingAddressCity" data-bind="text: city"></span>, <span id="confirm-shippingAddressState" data-bind="text: state"></span>, <span id="confirm-shippingAddressCountry" data-bind="text: country"></span>
                        </li>
                        <li id="confirm-shippingAddressZipCode" data-bind="text: zipPostalCode"></li>
                    </ul>
                </div>
                <div class="checkout-footer">
                    <a href="#" class="toShipping">@EditShippingAddress</a>
                </div>
            </div>
            <!-- /ko -->
            <!-- ko if: $root.creditCardPayment().isAdded -->
            <div class="col-md-2 col-sm-6 col-xs-6" id="confirm-billingAddressContainer">
                <div class="footer-billing" data-bind="with: billingAddress">
                    <h4>@BillingAddress</h4>
                    <ul class="footer-lists">
                        <li id="confirm-billingAddressName" data-bind="text: name"></li>
                        <li id="confirm-billingAddressLine" data-bind="text: address1"></li>
                        <li>
                            <span id="confirm-billingAddressCity" data-bind="text: city"></span>, <span id="confirm-billingAddressState" data-bind="text: state"></span>, <span id="confirm-billingAddressCountry" data-bind="text: country"></span>
                        </li>
                        <li id="confirm-billingAddressZipCode" data-bind="text: zipPostalCode"></li>
                    </ul>
                    <div class="checkout-footer">
                        <a href="#" class="toBilling">@EditBillingAddress</a>
                    </div>
                </div>
            </div>
            <!-- /ko -->
            <div class="col-md-2 col-sm-6 col-xs-6" id="confirm-paymentMethodsContainer">
                <div class="footer-payment">
                    <h4>@PaymentMethods</h4>
                    <!-- ko if: $root.creditCardPayment().isAdded -->
                    <h5>@creditCardLabel</h5>
                    <ul class="footer-lists" data-bind="with: creditCardPayment" id="confirm-creditCardContainer">
                        <li id="confirm-creditCardNameOnCard" data-bind="text: customerNameOnPayment"></li>
                        <li id="confirm-creditCardType" data-bind="text: description"></li>
                        <li id="confirm-creditCardNumber" data-bind="text: creditCardNumberMasked"></li>
                        <li>
                            <span id="confirm-creditCardExpMonth" data-bind=" text: expirationMonth"></span> - <span id="confirm-creditCardExpYear" data-bind="text: expirationYear"></span>
                        </li>
                        <li id="confirm-creditCardAmount">
                            <span data-bind="text: formatCurrency(creditCardAmount, 2, '@currencyDecimalSeparator', '', '@currencyGroupSeparator')"></span>
                            <span data-bind="text: $root.currencyCode"></span>
                        </li>
                    </ul>
                    <!-- /ko -->
                    <!-- ko if: $root.giftCardPayment().isAdded -->
                    <h5>@GiftCards</h5>
                    <ul class="footer-lists" data-bind="with: giftCardPayment" id="confirm-giftCardContainer">
                        <li id="confirm-giftCardNumber" data-bind="text: giftCardNumber"></li>
                        <li id="confirm-giftCardAmount">
                            <span data-bind="text: formatCurrency(giftCardAmount, 2, '@currencyDecimalSeparator', '', '@currencyGroupSeparator')"></span>
                            <span data-bind="text: $root.currencyCode"></span>
                        </li>
                    </ul>
                    <!-- /ko -->
                    <!-- ko if: $root.loyaltyCardPayment().isAdded -->
                    <h5>@footerLoyaltyCardLabel</h5>
                    <ul class="footer-lists" data-bind="with: loyaltyCardPayment" id="confirm-loyaltyCardContainer">
                        <li id="confirm-loyaltyCardNumber" data-bind="text: loyaltyCardNumber"></li>
                        <li id="confirm-loyaltyCardAmount">
                            <span data-bind="text: formatCurrency(loyaltyCardAmount, 2, '@currencyDecimalSeparator', '', '@currencyGroupSeparator')"></span>
                            <span data-bind="text: $root.currencyCode"></span>
                        </li>
                    </ul>
                    <!-- /ko -->
                </div>
                <div class="checkout-footer">
                    <a href="#" class="toBilling">@EditPaymentMethods</a>
                </div>
            </div>
        </div>
    </div>
</div>