@*//-----------------------------------------------------------------------
// Copyright 2016 Sitecore Corporation A/S
// Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
//       http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software distributed under the
// License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
// either express or implied. See the License for the specific language governing permissions
// and limitations under the License.
// -------------------------------------------------------------------------------------------*@

@using Sitecore.Reference.Storefront.Models.RenderingModels;
@using Sitecore.Reference.Storefront.Managers;
@model CartRenderingModel
@{
    if (Model == null)
    {
        return;
    }

    var requiredFieldMessage = @StorefrontManager.GetHtmlSystemMessage("RequiredFieldMessage");
    var requiredEmailMessage = @StorefrontManager.GetHtmlSystemMessage("RequiredEmailMessage");
    var requiredNumberMessage = @StorefrontManager.GetHtmlSystemMessage("RequiredNumberMessage");
    var emailsMustMatchMessage = @StorefrontManager.GetHtmlSystemMessage("EmailsMustMatchMessage");
    var selectDeliveryFirstMessage = @StorefrontManager.GetHtmlSystemMessage("SelectDeliveryFirstMessage");
}

<div id="checkoutContainer" class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Sitecore().FormHandler()
        
        <div id="shippingStep">
            @Html.Partial("~/Views/Storefront/Checkout/_Delivery.cshtml")
        </div>

        <div id="billingStep" style="display:none;">
            @Html.Partial("~/Views/Storefront/Checkout/_Billing.cshtml")
        </div>

        <div id="reviewStep" style="display:none;">
            @Html.Partial("~/Views/Storefront/Checkout/_Confirm.cshtml")
        </div>
    }

    <script type="text/javascript">
    ko.validation.localize({ required: '@requiredFieldMessage' });
    ko.validation.localize({ email: '@requiredEmailMessage' });
    ko.validation.localize({ number: '@requiredNumberMessage' });

    AddMessage('SelectDeliveryFirstMessage', '@selectDeliveryFirstMessage');
    AddMessage('EmailsMustMatchMessage', '@emailsMustMatchMessage');

    initCheckoutData("@StorefrontManager.CurrentStorefront.GetMapKey()");
    </script>
</div>