@*//-----------------------------------------------------------------------
// Copyright 2016 Sitecore Corporation A/S
// Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
//       http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software distributed under the
// License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
// either express or implied. See the License for the specific language governing permissions
// and limitations under the License.
// -------------------------------------------------------------------------------------------*@

@model ProductViewModel
@using Sitecore.Reference.Storefront.Extensions
@using Sitecore.Commerce.Entities.Inventory
@using Sitecore.Reference.Storefront
@using Sitecore.Reference.Storefront.Util
@{
    if (Model == null)
    {
        return;
    }

    var quantityLabel = Html.Sitecore().Field("Quantity Label", Html.Sitecore().CurrentItem);
    var addToCartLabel = Html.Sitecore().Field("AddToCart Label", Html.Sitecore().CurrentItem);
    var addingToCartLabel = Html.Sitecore().CurrentItem["AddingToCart Label"];
}

<div id="C12-AddToCart" class="add-to-basket">
    @using (Ajax.BeginForm("AddCartLine", "Cart", null, new AjaxOptions { OnBegin = "SetAddButton", OnSuccess = "AddToCartSuccess", OnFailure = "AddToCartFailure", HttpMethod = "Post"}, new { @id = "AddToCartForm" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.ProductId)
        @Html.Hidden("VariantId", string.Empty)
        @Html.HiddenFor(m => m.CatalogName)
        @Html.HiddenFor(m => m.ProductUrl)
        @Html.AntiForgeryToken()

        if (Model.Images != null && Model.Images.Any())
        {
            @Html.Hidden("ImageUrl", Model.Images[0].GetImageUrl(50, 50))
        }

        <div class="control-group">
            <label class="control-label" for="Quantity">@quantityLabel</label>
            <div class="controls" id="quantity">
                @Html.TextBoxFor(model => model.Quantity, new { @type = "number", @class = "form-control", @min = "1", @max = "100", @required = "required", @Value = "1" })
                @Html.ValidationMessageFor(model => model.Quantity)
            </div>
        </div>

        <button id="AddToCartButton" type="submit" class="btn btn-success" data-loading-text="@addingToCartLabel">
            @addToCartLabel
        </button>
    }
</div>

@if (Model.Variants != null && Model.Variants.Any())
{
    <script type="text/javascript">
        VariantSelectionChanged();
    </script>
}