@*//-----------------------------------------------------------------------
// Copyright 2016 Sitecore Corporation A/S
// Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
//       http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software distributed under the
// License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
// either express or implied. See the License for the specific language governing permissions
// and limitations under the License.
// -------------------------------------------------------------------------------------------*@

@using Sitecore.Reference.Storefront.Managers
@{
    var storefront = Sitecore.Reference.Storefront.Managers.StorefrontManager.CurrentStorefront;
    bool supportsWishlists = storefront.SupportsWishLists;
}

<div id="C13-ShareAndPrint" class="share-utils">
    @if (Sitecore.Context.User.IsAuthenticated)
    {
        if (supportsWishlists)
        {
            <a href="#" id="ddWishlistLabel" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                <button type="button" class="btn btn-default" id="addToWishList"><span class="glyphicon glyphicon-heart"></span></button>
            </a>
            <div class="dropdown-menu wishlist-popup" style="padding: 10px;" role="menu" aria-labelledby="ddWishlistLabel" id="wishListsSection">
                <ul data-bind="foreach: wishLists, visible: isNotEmpty" id="wishLists">
                    <li><a href="#" data-bind="text: name, attr:{id: externalId}" onclick="addToWishList(this)"></a></li>
                </ul>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#newWishList" id="openCreateList">@Html.Sitecore().Field("Create Wish List Label", Html.Sitecore().CurrentItem)</button>
            </div>
        }
    }
    else if (supportsWishlists)
    {
        <a href="@StorefrontManager.StorefrontUri("/login")" type="button">
            <button type="button" class="btn btn-default" id="addToWishList"><span class="glyphicon glyphicon-heart"></span></button>
        </a>
    }

    <button type="button" class="btn btn-default" onclick="printPage()"><span class="glyphicon glyphicon-print"></span></button>
</div>

@if (supportsWishlists && Sitecore.Context.User.IsAuthenticated) 
{
    <div class="modal fade" id="newWishList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Html.Sitecore().Field("Close Label", Html.Sitecore().CurrentItem)</span></button>
                    <h2 class="modal-title" id="myModalLabel">@Html.Sitecore().Field("Create New Wish List Label", Html.Sitecore().CurrentItem)</h2>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="wishList-name">@Html.Sitecore().Field("New Wish List Label", Html.Sitecore().CurrentItem)</label>
                        <input type="text" class="form-control" id="wishList-name" placeholder="@Html.Sitecore().Field("Add New Wish List Label", Html.Sitecore().CurrentItem)">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="createWishList" onclick="addToWishList('new')" disabled="disabled">@Html.Sitecore().Field("Save Changes Label", Html.Sitecore().CurrentItem)</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="createWishListClose">@Html.Sitecore().Field("Close Label", Html.Sitecore().CurrentItem)</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        initWishListHeaders("wishListsSection");
    </script>
}