@*//-----------------------------------------------------------------------
// Copyright 2016 Sitecore Corporation A/S
// Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
//       http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software distributed under the
// License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
// either express or implied. See the License for the specific language governing permissions
// and limitations under the License.
// -------------------------------------------------------------------------------------------*@

@using Sitecore.Reference.Storefront.Models.InputModels;
@using Sitecore.Reference.Storefront.Managers;
@using Sitecore.Reference.Storefront.Util;
@{
    //Labels
    var currentPage = Html.Sitecore().CurrentItem;
    var currentPassword = Html.Sitecore().Field("Current Password", currentPage);
    var newPassword = Html.Sitecore().Field("New Password", currentPage);
    var repeatPassword = Html.Sitecore().Field("Repeat Password", currentPage);
    var saveChanges = currentPage["Save Changes Button"];
    var savingChanges = currentPage["Saving Changes Button"];
    var cancel = Html.Sitecore().Field("Cancel Button", currentPage);
    var backtoMyAccount = Html.Sitecore().Field("Back To My Account", currentPage);

    var passwordRequiredMsg = currentPage["Current Password Required Message"];
    var passwordsMustMatchMsg = currentPage["Password and Confirmation Must Match Message"];
    var passwordMinLengthMsg = currentPage["The Password Length Message"];
}

@using (Ajax.BeginForm("ChangePassword", "Account", null, new AjaxOptions { OnBegin = "SetChangePasswordProcessingButton", OnSuccess = "ChangePasswordSuccess", OnFailure = "ChangePasswordFailure", HttpMethod = "Post" }, new { @id = "ChangePasswordForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="wrap-main-content">
        <!-- CONTENT CONTAINER -->
        <div id="" class="row">
            <div class="col-md-12 border-bottom"><h1><span class="back-to-myaccount pull-right"><a href="@StorefrontManager.StorefrontUri("/accountmanagement")"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> @backtoMyAccount</a></span></h1></div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="OldPassword">@currentPassword <span class="required">*</span> </label>
                        <input id="OldPassword"
                               class="form-control input-validation-error"
                               type="password"
                               value=""
                               name="OldPassword"
                               data-val-required="@passwordRequiredMsg"
                               autocomplete="off"> 
                        <span class="field-validation-valid" data-valmsg-for="OldPassword" data-valmsg-replace="true"></span>                      
                    </div>
                    <div class="form-group">
                        <label for="NewPassword">@newPassword <span class="required">*</span> </label>
                        <input id="NewPassword"
                               class="form-control input-validation-error"
                               type="password"
                               value=""
                               name="NewPassword"
                               data-val-length-min="6"
                               data-val-length-max="100"
                               data-val-required="@passwordMinLengthMsg"
                               data-val-length="@passwordMinLengthMsg"
                               data-val="true"
                               autocomplete="off">
                        <span class="field-validation-valid" data-valmsg-for="NewPassword" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="ConfirmPassword">@repeatPassword <span class="required">*</span> </label>
                        <input id="ConfirmPassword"
                               class="form-control input-validation-error"
                               type="password"
                               value=""
                               name="ConfirmPassword"
                               data-val-required="@passwordMinLengthMsg"
                               data-val-equalto-other="*.NewPassword"
                               data-val-equalto="@passwordsMustMatchMsg"
                               data-val="true"
                               autocomplete="off">
                        <span class="field-validation-valid" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 border-top">
            <input type="submit" data-loading-text="@savingChanges" value="@saveChanges" class="btn btn-primary" id="changePasswordButton" />
            <a type="button" href="@StorefrontManager.StorefrontUri("/accountmanagement")" class="btn btn-default">@cancel</a>
        </div>
    </div>
}