@*//-----------------------------------------------------------------------
// Copyright 2016 Sitecore Corporation A/S
// Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
//       http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software distributed under the
// License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
// either express or implied. See the License for the specific language governing permissions
// and limitations under the License.
// -------------------------------------------------------------------------------------------*@

@using Sitecore.Reference.Storefront.Managers

<div id="" class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <p>@Html.Sitecore().Field("Fill Form Message", Html.Sitecore().CurrentItem)</p>
                <p>&nbsp;</p>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <span>@Html.Sitecore().Field("Email", Html.Sitecore().CurrentItem): <b>@ViewBag.UserName</b></span>

                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 chk-prev"><a class="btn btn-info" href="@StorefrontManager.StorefrontHome">@Html.Sitecore().Field("Back To Shopping Button", Html.Sitecore().CurrentItem)</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12 spot-single-image">
                @Html.Sitecore().Field("Image", Html.Sitecore().CurrentItem, new { Parameters = new Sitecore.Collections.SafeDictionary<string> { { "class", "img-responsive" } } })
            </div>
        </div>
    </div>
</div>
