@*//-----------------------------------------------------------------------
    // Copyright 2016 Sitecore Corporation A/S
    // Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
    // except in compliance with the License. You may obtain a copy of the License at
    //       http://www.apache.org/licenses/LICENSE-2.0
    //
    // Unless required by applicable law or agreed to in writing, software distributed under the
    // License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
    // either express or implied. See the License for the specific language governing permissions
    // and limitations under the License.
    // -------------------------------------------------------------------------------------------*@

@using Sitecore.Reference.Storefront.Models;
@using Sitecore.Reference.Storefront.Managers
@model CustomerLinkupPendingViewModel
@{
    var activating = Html.Sitecore().CurrentItem[StorefrontConstants.KnownFieldNames.Activating];
    var storefront = Sitecore.Reference.Storefront.Managers.StorefrontManager.CurrentStorefront;
 }
@if (storefront.IsAXSite)
{
    if (@Model.Messages != null)
    {
        <div class="wrap-error">
            @foreach (var message in Model.Messages)
            {
            <p>@message</p>
            }
        </div>
    }

    if (@Model.EmailAddressOfExistingCustomer != null || @Model.Messages.Count == 0)
    {
        <h5 class="margin-bottom-15 msg-activate">@Html.Sitecore().Field(StorefrontConstants.KnownFieldNames.ActivateText, Html.Sitecore().CurrentItem)</h5>
        using (Ajax.BeginForm("FinalizeAccountLinkup", "Account", null, new AjaxOptions { OnBegin = "SetActivatingButton", OnSuccess = "ActivationSuccess", OnFailure = "ActivationFailure", HttpMethod = "Post" }, new { @id = "ActivationForm" }))
        {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="col-md-6">
            <div class="form-group">
                <label for="EmailAddressOfExistingCustomer">@Html.Sitecore().Field(StorefrontConstants.KnownFieldNames.EmailAddressOfExistingCustomer, Html.Sitecore().CurrentItem)</label><span class="required">*</span>
                @Html.TextBoxFor(m => m.EmailAddressOfExistingCustomer,
                             new
                             {
                                 placeholder = Html.Sitecore().CurrentItem[StorefrontConstants.KnownFieldNames.EmailAddressPlaceholder],
                                 data_val_required = Html.Sitecore().CurrentItem[StorefrontConstants.KnownFieldNames.EmailMissingMessage],
                                 @class = "form-control"
                             })

                @Html.ValidationMessageFor(m => m.EmailAddressOfExistingCustomer)
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="ActivationCode">@Html.Sitecore().Field(StorefrontConstants.KnownFieldNames.ActivationCode, Html.Sitecore().CurrentItem)</label><span class="required">*</span>
                @Html.TextBoxFor(m => m.ActivationCode,
                             new
                             {
                                 data_val_required = Html.Sitecore().CurrentItem[StorefrontConstants.KnownFieldNames.ActivationCodeMissingMessage],
                                 @class = "form-control"
                             })

                @Html.ValidationMessageFor(m => m.ActivationCode)
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <button type="submit" id="activationButton" data-loading-text="@activating" class="btn btn-success">@Html.Sitecore().Field(StorefrontConstants.KnownFieldNames.ActivateUser, Html.Sitecore().CurrentItem)</button>
                <a class="btn btn-default" href="@StorefrontManager.StorefrontUri("/Login")">@Html.Sitecore().Field(StorefrontConstants.KnownFieldNames.Cancel, Html.Sitecore().CurrentItem)</a>
            </div>
        </div>
        }
    }
}